*/data/*

.idea/*

*/.ipynb_checkpoints/*

.ipynb_checkpoints/*

*/Project_01/corpus/data/*

*/Project_01/ltp_data_v3.4.0/*.model
*/Project_01/ltp_data_v3.4.0/*.txt
*/Project_01/ltp_data_v3.4.0/version


